@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
header{
    background-color: #15366b;
    display: flex;
    flex-direction: column;
    height: 100px;
}
.logos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 350px;
    height: auto;
    
}
.logosite {
    display: flex;
    width: 200px;
    padding: 10px 10px;
}
.menu {
    display: flex;
    padding: 0px 0px 1px 130px ;
    margin: 1px ; 
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}
hr {
    display: flex;
    margin: 9px;
}
.botao {
    display: flex;
    justify-content: flex-end;
}
.btn-cadastro  {
    margin: 0px 5px;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #db790a, #e48a14);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15;
    transition: 0.3s;
    font-family: "Arial";
}

.btn-transparente{
    background: transparent;
    color: white;
    border: 2px solid white;
}
.conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #536da5;
    padding: 20px 20px;
    gap: 20px;
}
.conteudo h2 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
}
.conteudo p {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}
.botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cursos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1px;
}
.informacaopq {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  background: #fff;
  border: 1.5px solid #dad0d0;
  border-radius: 12px;
  margin: 5px 15px;
  padding: 25px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}
.informacaopq img {
    height: 50px;
    width: 50px;
    font-size: 20px;
}
.informacaopq h3 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
     font-size: 20px;
}
.informacaopq p {
     display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.titulo {
    display: flex;
    margin: 22px;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
.mentores {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}
.comentario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: -1px 0px 35px 0px;
    padding: 2px 0px 0px 0px;
}
.comentario h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.feedback {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
     background: #dde0e2;
    border: 1.5px solid #dad0d0;
    border-radius: 12px;
    margin: 5px 15px;
    padding: 25px;
}
.feedback img{
    width: 150px;
    height: 150px;
    border-radius: 60%;
    border: 2.9px solid #0e0e0e;
}
.feedback h3 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
     font-size: 20px;
     margin-top: 15px;
}
.feedback p {
    display: flex;
    font-family:"Open Sans", sans-serif;
    text-align: center;
     font-size: 15px;
     margin: 2px;
     font-weight: 500;
}
.adicionais {
    background-color: #15366b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marca h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}













